header {
    width: 100%;
    height: 80px;
    background-color: #4d8dcc;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
}
p {
    line-height: 1.5;
}
blockquote {
    border-left: 2px solid #4d8dcc;
    padding-left: 10px;
    margin-left: 10px;
}
.container {
    width: 900px;
    padding: 10px;
    margin: 0 auto;
}
.description {
    width: 450px;
    float: left;
}
.photo {
    width: 450px;
    float: left;
}
.photo img {
    width: 300px;
    display: block;
    margin: 16px auto;
    border: 10px solid #c5daef;
}
.text-right {
    text-align: right;
}
.footer {
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #4d8dcc;
    color: white;
    text-align: center;
}
.inline-list {
    margin: 0;
    padding: 4px;
}
.inline-list li {
    display: inline;
    padding: 5px;
}
.inline-list li a {
    color: white;
    text-decoration: none;
}
.inline-list li a:hover  {
    color: #c3c3c3;
}
