body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.main-header {
    height: 76px;
    background-image: linear-gradient(to left, #bf1e2e, #f1592a);
}
.main-header a {
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
}
.container {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 189px;
    height: 70px;
    overflow: hidden;
    margin: 0;
}
.main-menu {
    height: 76px;
}
.main-menu-list {
    margin: 0;
    padding: 0;
}
.main-menu-list li {
    display: inline-block;
}
.main-menu-list a {
    display: inline-block;
    line-height: 76px;
    padding: 0 11px;
}
.main-menu-list li.active {
    height: 3px;
    background-color: #ffffff;
}
.main-menu-list a:hover {
    background: #ffffff;
    color: #2a2a2a;
}
.language-switch {
    margin: 0;
    padding: 0;
}
.language-switch li {
    display: inline-block;
}
.language-switch a {
    line-height: 76px;
}
.language-switch:after {
    color: #ffffff;
    content: "\25be";
}
.carousel img {
    height: auto;
    width: 100%;
}
.left-nav {
    margin-top: 35px;
}
.left-nav a {
    color: #363a3b;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 38px;
}
.left-nav a:hover {
    color: #df4a2b;
}
.left-nav li {
   list-style: none;
   padding-left: 42px;
}
.left-nav-list {
    padding: 0;
    margin: 0;
}
.icon-camera {
    background: url(../images/icon-camera.png) 0 4px no-repeat;
}
.icon-video {
    background: url(../images/icon-video.png) 0 4px no-repeat;
}
.icon-care {
    background: url(../images/icon-care.png) 0 4px no-repeat;
}
.icon-partners {
    background: url(../images/icon-partners.png) 0 4px no-repeat;
}
.icon-chat {
    background: url(../images/icon-chat.png) 0 4px no-repeat;
}
